.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 350px;
  /* max-width: 100%; */
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tabs button {
  flex: 1;
  padding: 10px;
  cursor: pointer;
  background: none;
  border: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom .3s ease-in;
  font-weight: bold;
}

.tabs button.active {
  border-bottom: 2px solid #3b82f6;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  margin-bottom: 10px;
}

.form input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 95%;
}

.form button {
  margin-top: 20px;
  padding: 10px;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.form button:hover {
  background: #1c6ed2;
}

.popup-content button.close {
  margin-top: 20px;
  padding: 10px;
  background: #e74c3c;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background 0.3s;
}

.popup-content button.close:hover {
  background: #c0392b;
}

h3{
  margin: 0;
  margin-bottom: 5px;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  background: none;
  border: none;
  color: #333;
  font-size: 16px;
  cursor: pointer;
}
.separator {
  height: 1px;
  background-color: #000;
  margin: 10px 0;
}